.btn,
.button {
    display: inline-block;
    background-color: inherit;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 8px 16px;

    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    
    &-dark-teal {@include theme(white, #4d636f); }
    &-green { @include theme(white, green); }
    &-red { @include theme(white, red); }
    &-blue { @include theme(white, blue); }
    &-white-darkgrey { @include theme(#fff, #616161); }

    &-facebook { @include theme(white, #3B5998); }
    &-twitter { @include theme(white, #55ACEE); }
    &-google { @include theme(white, #dd4b39); }
}

