.btn,
.button {
    display: inline-block;
    border: none;
    color: inherit;
    background-color: inherit;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

