.btn,
.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        color: #000;
        background-color: #ccc;
    }
}

