html {
    box-sizing: border-box}
*,*:before,*:after {
    box-sizing: inherit}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
body {
    margin: 0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
    display: block}
summary {
    display: list-item}
audio,canvas,progress,video {
    display: inline-block}
progress {
    vertical-align: baseline}

@mixin theme($color, $bachground) {
    color: $color;
    background-color: $bachground;
}

$theme-l5: #f5f7f8 !important;
$theme-l4: #dfe5e8 !important;
$theme-l2: #9eb1bb !important;

$theme-d1: #57707d !important;
$theme-d2: #4d636f !important;
$theme-d3: #9da1a3 !important;
$theme-d4: #3a4b53 !important;
$theme-d5: #303e45 !important;

// $text-theme: #607d8b;


.round {
    border-radius: 4px;
    &-medium {
        border-radius: 8px;
    }
    &-large {
        border-radius: 16px;    
    }
    &-xlarge {
        border-radius: 32px;    
    }
    &-xxlarge {
        border-radius: 64px;    
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.margin { margin: 16px !important; }
.margin-right {
    margin-right: 16px!important;
}

.padding {
    padding: 8px 16px;
}

.top {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.right {
    float: right!important;
}
.center {
    text-align: center!important;
}

.font-small { font-size: 8px; }
.font-medium { font-size: 16px; }

.green{
    color: white;
    background-color: green;
}
.white {
    color: #000!important;
    background-color: #fff!important;
}

.border { border: 1px solid #ccc!important; }

.circle { border-radius: 50%; }

.block {
    display: block;
    width: 100%;
}

.display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.left-align {
    text-align: left !important;
  }

.section {
	margin-top: 16px!important;
	margin-bottom: 16px!important;
}

.red { background-color: red !important; }
.theme-l1 { @include theme(white, #4d636f) }
.theme-d1 { background-color: #57707d !important; }
.theme-d2 { background-color: #4d636f !important; }
.theme-d3 { background-color: #9da1a3 !important; }
.theme-d4 { background-color: #3a4b53 !important; }
.theme-d5 { background-color: #303e45 !important; }
.theme-l3 { background-color: #becbd2 !important; }

.hide {display: none!important; }

.tiny {
	font-size: 10px!important;
}
.mall {
	font-size: 12px!important;
}
.medium {
	font-size: 15px!important;
}
.large {
	font-size: 18px!important;
}
.xlarge {
	font-size: 24px!important;
}
.xxlarge {
	font-size: 36px!important;
}
.xxxlarge {
	font-size: 48px!important;
}
.jumbo {
	font-size: 64px!important;
}

.opacity { opacity: 0.60; }








