.dropdown {
    float: left;
    overflow: hidden;
    
    &-toggle {
        font-size: 16px;
        border: none;
        outline: none;
        padding: 12px 24px;
        color: black;
        background-color: inherit;
        margin: 0;
    }
    &:hover>.dropdown-toggle {
        color: white;
        background-color: black;
        opacity: 0.7;
    }

    &-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    &:hover>.dropdown-menu {
        display: block;
    }

    &-item {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        text-align: left;
        display: block;

        &:hover { background-color: #f1f1f1;}
    }
}
