
.idrdown {
    position: relative;
    overflow: hidden;
    &__hv:hover {
        .idrdown__content {
            display: block;
        }
    }

    &__btn {
        border: none;
        outline: none;
        margin: 0;
        &:hover {
            .idrdown__content {
                display: block;
            }
        }
    }
    &__content {
        display: none;
        position: absolute;
        min-width: 80px;
        z-index: 1;
        @include theme($black, $white);
        a {
            display: block;
            // font-size: 16px;
            padding: 4px 6px;
            text-align: left;
            color: $black;
            text-decoration: none;
            &:hover {
                @include theme($white, $grey);
            }
        }
    }
}

.dropdown{
    position: relative;
    display: inline-block;
    &-content {
        display: none;
        position: absolute;
        color: $black;
        background-color: $white;
        min-width: 160px;
        z-index: 1;
    }
    &-link {
        cursor: pointer;
        display: block;
        padding: 8px 16px;
        text-align: left;
        text-decoration: none;
        @include theme($black, $white);
        
        &:hover { @include theme($white, $grey); }
    }
    &-hv:hover {
        .dropdown-content { display: block;}
    }
}
