
.container,
// .row-padding
.row {
    &:after, &:before {
        content: "";
        display: table;
        clear: both;
    }
}

.container {
    padding: 0.1em 16px;
}

// .row-padding,
// .row-padding>.half,
// .row-padding>.third,
// .row-padding>.twothird,
// .row-padding>.threequarter,
// .row-padding>.quarter,
// .row-padding>.col {
//     padding: 0 8px;
// }

@media (min-width: 600px) {
    .col.m1 {
    width: 8.33333%}
    .col.m2 {
        width: 16.66666%}
    .col.m3,.quarter {
        width: 24.99999%}
    .col.m4,.third {
        width: 33.33333%}
    .col.m5 {
        width: 41.66666%}
    .col.m6,.half {
        width: 49.99999%}
    .col.m7 {
        width: 58.33333%}
    .col.m8,.twothird {
        width: 66.66666%}
    .col.m9,.threequarter {
        width: 74.99999%}
    .col.m10 {
        width: 83.33333%}
    .col.m11 {
        width: 91.66666%}
    .col.m12 {
        width: 99.99999%}
}

.col {
    float: left;
    width: 100%;
    padding: 15px;

    @media (min-width: 600px) {
        &.col-1 {width: 8.33%;}
        &.col-2 {width: 16.66%;}
        &.col-3 {width: 25%;}
        &.col-4 {width: 33.33%;}
        &.col-5 {width: 41.66%;}
        &.col-6 {width: 50%;}
        &.col-7 {width: 58.33%;}
        &.col-8 {width: 66.66%;}
        &.col-9 {width: 75%;}
        &.col-10 {width: 83.33%;}
        &.col-11 {width: 91.66%;}
        &.col-12 {width: 100%;}
    }
}
