
.panel {
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.panel,
.container,
.clear,
.row,
.row-padding {
    &:after, &:before {
        content: "";
        display: table;
        clear: both;
    }
}
.container { padding: 0.1em 16px; }

.col,
.half,
.third,
.twothird,
.threequarter,
.quarter {
    float: left;
    width: 100%;
}

.row-padding { 
    padding: 0 8px;
    >{ .half,
        .third,
        .twothird,
        .threequarter,
        .quater,
        .col { padding: 0 8px; }
    }
}

.col {
    &.col-1 {width: 8.33333%;}
    &.col-2 {width: 16.66666%;}
    &.col-3 {width: 24.99999%;}
    &.col-4 {width: 33.33333%;}
    &.col-5 {width: 41.66666%;}
    &.col-6 {width: 49.99999%;}
    &.col-7 {width: 58.33333%;}
    &.col-8 {width: 66.66666%;}
    &.col-9 {width: 74.99999%;}
    &.col-10 {width: 83.33333%;}
    &.col-11 {width: 91.66666%;}
    &.col-12 {width: 99.99999%;}
}

.col {
    &.s1 {width: 8.33333%;}
    &.s2 {width: 16.66666%;}
    &.s3 {width: 24.99999%;}
    &.s4 {width: 33.33333%;}
    &.s5 {width: 41.66666%;}
    &.s6 {width: 49.99999%;}
    &.s7 {width: 58.33333%;}
    &.s8 {width: 66.66666%;}
    &.s9 {width: 74.99999%;}
    &.s10 {width: 83.33333%;}
    &.s11 {width: 91.66666%;}
    &.s12 {width: 99.99999%;}
}

@media (min-width: 601px) {
    .col {
        &.m1 {width: 8.33333%;}
        &.m2 {width: 16.66666%;}
        &.m3 {width: 24.99999%;}
        &.m4 {width: 33.33333%;}
        &.m5 {width: 41.66666%;}
        &.m6 {width: 49.99999%;}
        &.m7 {width: 58.33333%;}
        &.m8 {width: 66.66666%;}
        &.m9 {width: 74.99999%;}
        &.m10 {width: 83.33333%;}
        &.m11 {width: 91.66666%;}
        &.m12 {width: 99.99999%;}
    }
    .quarter {width: 24.99999%;}
    .third {width: 33.33333%;}
    .half {width: 49.99999%;}
    .twothird {width: 66.66666%;}
    .threequarter {width: 74.99999%;}
}

@media (min-width: 993px) {
    .col {
        &.l1 {width: 8.33333%;}
        &.l2 {width: 16.66666%;}
        &.l3 {width: 24.99999%;}
        &.l4 {width: 33.33333%;}
        &.l5 {width: 41.66666%;}
        &.l6 {width: 49.99999%;}
        &.l7 {width: 58.33333%;}
        &.l8 {width: 66.66666%;}
        &.l9 {width: 74.99999%;}
        &.l10 {width: 83.33333%;}
        &.l11 {width: 91.66666%;}
        &.l12 {width: 99.99999%;}
    }
}
