.navbar {
    background-color: #aaa;
    overflow: hidden;

    &-item {
        a {
            float: left;
            font-size: 16px;
            padding: 12px 24px;
            color: black;
            text-align: center;
            text-decoration: none;
        }
        &:hover:not(.navbar-item_active)>a {
            color: white;
            background-color: black;
            opacity: 0.7;
        }

        &_active a {
            color: white;
            background-color: black;
        }
    }
}

// analytics.scss
.slidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    @media (min-width: 993px) {
        &.collapse{
            display: block!important;
        }
    }
    @media (max-width: 992px) {
        &.collapse{
            display: none;
        }
    }
}

.bar {
    width: 100%;
    overflow: hidden;
    &:before, &:after {
        content: "";
        display: table;
        clear: both;
    }

    &-item {
        padding:8px 16px;
        float:left;
        width:auto;
        border:none;
        display:block;
        outline:0;
    }
}

.bar-block {
    .bar-item {
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0;
    }
}



