.nav {
    background: #4d636f;
    overflow: hidden;

    &-item {
        float: left;
        color: #fff;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;

        &.active {
            background: #3a4b53;
        }

        &:hover:not(.active) {
            color: #4d636f;
            background-color: white;
        }

        // dev
        &_user {
            float: right;
            img {
                @extend .circle;
                max-width: 23px;
                max-height: 23px;
            }
        }
    }
}



