// #tooltip original
.itooltip {
    position: relative;
    display: inline-block;
    &:hover { 
        .itooltip-text { 
            visibility: visible;
            opacity: 1;
         }
    }

    &-text {
        z-index: 1;
        position: absolute;

        visibility: hidden;
        min-width: 50px;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
        color: $white;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

// BEM modify
.itooltip {
    &-text {
        // Text Left
        &--l {
            right: 100%;
            top: -5px;
        }
        &--l-arrow {
            right: 110%;
            top: -5px;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent black;
            }
        }

        // Text Right
        &--r {
            left: 100%;
            top: -5px;
        }
        &--r-arrow {
            left: 110%;
            top: -5px;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
            }
        }

        // Text Top
        &--t {
            bottom: 100%;
            left: 0;
        }
        &--t-arrow {
            bottom: 150%;
            left: 0;
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
            }
        }

        // Text Bottom
        &--b {
            top: 100%;
            left: 0;
        }
        &--b-arrow {
            top: 150%;
            left: 0;
            &:after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }
        }
    }
}