// #color varible
$l1: #4d636f;
$l2: #9eb1bb;
$l3: #becbd2;
$l4: #dfe5e8;
$l5: #f5f7f8;

$d1: #57707d;
$d2: #4d636f;
$d3: #9da1a3;
$d4: #3a4b53;
$d5: #303e45;

$white: #ffffff;
$black: #000000;
$yellow: #d2be0e;
$red: #f44336;
$green: #4CAF50;
$blue: #2196F3;
$grey: #757575;
$darkteal: #4d636f;
$lightgrey: #f1f1f1;


// #font varible
$font-tiny: 10px!important;
$font-small: 12px!important;
$font-medium: 15px!important;
$font-large: 18px!important;

@mixin margin-right {
    margin-right: 16px!important;
}

@mixin theme($color, $bg) {
    color: $color;
    background: $bg;
}

@mixin theme-white-grey {
    color: white;
    background: grey;
}
@mixin theme-d2 {
    color: white;
    background-color: #4d636f;
}
@mixin theme-d4 {
    color: white;
    background-color: #3a4b53;
}

@mixin theme-black-white {
    color: black;
    background: white;
}

@mixin text-align-left { text-align: left; }
@mixin text-align-right { text-align: right; }


