@keyframes animateleft {
    from{
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.animate-left {
    position: relative;
    animation: animateleft 0.4s;
}

.slidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    @media (min-width: 993px) {
        &.collapse{
            display: block!important;
        }
    }
    @media (max-width: 992px) {
        &.collapse{
            display: none;
        }
    }
}

.bar {
    width: 100%;
    overflow: hidden;
    &:before, &:after {
        content: "";
        display: table;
        clear: both;
    }

    &-item {
        padding:8px 16px;
        float:left;
        width:auto;
        max-height: 42px;
        border:none;
        display:block;
        outline:0;
    }
}
.bar-block {
    .bar-item {
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0;
    }
}

.main {
    transition: margin-left .4s;
}


.panel {
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px;

    &:after, &:before {
        content: "";
        display: table;
        clear: both;
    }
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;

    td, th {
        padding: 8px 8px;
        display: table-cell;
        text-align: left;
        vertical-align: top;
    }
}

.striped {
    tr:nth-child(even) { background-color: #f2f2f2; }
}

.bordered {
    tr { border-bottom: 1px solid #ddd; }
}

.hoverable {
    tr:hover { background-color: #ccc; }
}

.bottombar { border-bottom: 6px solid #ccc !important; }

.border-red { border-color: #f44336 !important; }
.border-green { border-color: #4CAF50 !important; }
.border-orange { border-color: #ff9800 !important; }

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd;
        &:last-child { border-bottom: none; }
    }
}
