

@mixin nav-common {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.active {
    background-color: green;
    color: white;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.nav-hor {
    &__list {
        @include nav-common;
        background-color: #333;
        overflow: hidden;
    }

    &__item {
        float: left;
        border-right: 1px solid #bbb;

        &:last-child { border-right: none; }
    }

    &__link {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover:not(.active) {
            background-color: #111;
            color: white;
            text-decoration: none;
        }
    }
}

.nav-vel {
    &__list {
        @include nav-common;
        background-color: grey;
        overflow: auto;
        height: 100%;
        position: fixed;
    }

    &__item{
    }
    &__link {
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;

        &:hover {
            background-color: #555;
            color: white;
        }
    }
    &__active {
        background-color: green;
        color: white;
    }
}
