
@import "./common";
@import "./mixins";
@import "./grid";
@import "./navbar";
@import "./dropdown";
@import "./table";
@import "./form";
@import "./card";
@import "./button";
@import "./link";
@import "./badge";
@import "./input";
@import "./modal";
@import "./icon";

// ************************************************************
// Layout
.container {
    &-navbar {
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    &-body {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
    }
}

// ************************************************************
// Topnav
.topnav {
    background-color: $theme-d2;
    &-item {
        a { 
            max-height: 42px;
            color: #fff; 
        }
        &:hover:not(.topnav-item_active)>a {
            color: $theme-d2;
            background-color: #fff !important;
            opacity: 1;
        }

        &_active a {
            color: #fff !important;
            background-color: $theme-d4;
        }
    }

    &-dropdown {
        &-toggle { 
            color: #fff; 
        }
        &:hover>&-toggle {
            @include theme($theme-d2, #fff);
            opacity: 1;
        }
    }

    &-user {
        float: right;
        .dropdown-toggle { padding-bottom: 7px; }
        &-avatar {
            @extend .circle;
            max-width: 23px;
            max-height: 20px;
        }
    }
}

// ************************************************************
// Middle content
.news-feel {
    &__col {
        padding: 8px;
    }
    &__input {
        border: none;
        background-color: #e2e7f0c2;
        &:hover {
            background-color: #cccfd4c2;
        }
        &:focus {
            outline: none;
        }
    }
}

.post {
    &__avatar { 
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    &__time-ago {
        float: right;
        opacity: 0.7;
    }
    &__display-name {
        position: relative;
        top: -10px;
    }
    &__btn {
        margin-right: 5px;
    }
    &__col {
        padding: 8px;
    }
}

// ************************************************************
// Login
.login {
    max-width: 1080px;
    margin: 80px auto;
    &-body{
        // @extend .border; // dev
        position: relative;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px 0 30px 0;
        .col {
            margin: auto;
            padding: 0 50px;
            margin-top: 6px;
        }   
    }

    &-btn, &-input {
        @extend .btn;
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        font-size: 17px;
        text-align: left;
    }
    &-btn {
        i { margin-right: 4px; }
        &_facebook { @extend .btn-facebook; }
        &_twitter { @extend .btn-twitter;}
        &_google { @extend .btn-google;}
        &_signup, &_forgot {
            text-align: center;
            color: white;
        }
    }

    &-input {
        &:hover { opacity: 1; }
        &_submit {
            cursor: pointer;
            color: white;
            background-color: green;
            text-align: center;
        }
    }

    &-bottom {
        text-align: center;
        background-color: #666;
        border-radius: 0px 0px 4px 4px;
        .col {  padding: 0; }
    }
}

.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;

    &-innertext {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 8px 10px;
    }
}

.hide-in-manually {
    display: none;
}

@media screen and (max-width: 600px) {
    .vl { display: none;}
    .hide-in-manually {
        display: block;
        text-align: center;
    }
}

.signup {
    &__col {
        padding: 0 5px;
        margin: 5px 0;
        text-align: center;
    }
    &__input {
        &--fistname, &--lastname {
            width: 49%;
        }
    }
    &__btn {
        &--submit {
            @include theme(white, #3B5998);
            width: 50%;
            margin: auto;
        }
    }
}

.signin {
    margin-top: 24px;
    padding: 24px 0 12px 0;
    border: none;
    border-radius: 8px;
    color: black;
    background-color: #fff;

    &__col {
        padding: 8px 0;
        text-align: center;
    }
    &__btn--submit {
        @include theme(white, #3B5998);
    }
    &__link {
        margin: auto 10px;
        padding: 4px 2px;
        
        &--signup { @extend .btn, .btn-green; }
        &--facebook { @include theme(white, #3B5998); }
        &--twitter { @include theme(white, #55ACEE); }
        &--google{ @include theme(white, #dd4b39); }
    }
}

// ************************************************************

.signup {
    @extend .border, .round;
    max-width: 1080px;
    margin: 80px auto;
    background-color: #f2f2f2;

    &-hr {
        border: 1px solid grey;
    }
    &-input {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background-color: #ddd;
    }
    
    &-btn {
        @extend .round;
        margin-left: 8px;
        margin-right: 8px;
        &_cancel { @extend .btn-red; }
        &_signup { @extend .btn-green; }
    }

    &-bottom {
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.forgot {
    @extend .border;
    max-width: 1080px;
    margin: 80px auto;
    padding: 0;
    background-color: #f2f2f2;
    &-header {}
    &-body {
        padding: 0 15%;
    }
    &-bottom {
        border-top: solid 1px grey;
    }
    &-input {
        width: 100%;
    }
    &-btn {
        @extend .border, .round;
        float: right;
        font-size: 16px;
        margin-right: 10px;
    }
}

.recent {
    @extend .round, .border;
    margin-right: 20px;
    width: 160px;
    &:hover {
        @extend .card;
        cursor: pointer;
    }

   &-top {
       padding: 0;
       width: 160px;
       height: 160px;
   }
   &-bottom {
       text-align: center;
       font-size: 20px;
   }
}

.list {
    // @extend .border;

    &-item {
        @extend  .col-4;
        margin-bottom: 20px;
        padding: 0;
    }

    // DEV

}


