
@import "./varible-mixins.scss";
@import "./common";
@import "./link";
@import "./tooltip";
@import "./grid";
@import "./navbar";
@import "./dropdown";
@import "./table";
@import "./card";
@import "./button";
@import "./badge";
@import "./input";
@import "./modal";

@import "./portpolio.scss";

// ************************************************************
.post {
    &__avatar { 
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    &__time-ago {
        float: right;
        opacity: 0.7;
    }
    &__display-name {
        position: relative;
        top: -10px;
    }
    &__btn {
        margin-right: 5px;
    }
    &__col {
        padding: 8px;
    }
}


.signin {
    margin-top: 24px;
    padding: 24px 0 12px 0;
    border: none;
    border-radius: 8px;
    color: black;
    background-color: #fff;
}

// ************************************************************

.signup {
    @extend .border, .round;
    max-width: 1080px;
    margin: 80px auto;
    background-color: #f2f2f2;
}

.recent {
    @extend .round, .border;
    margin-right: 20px;
    width: 160px;
    &:hover {
        @extend .card;
        cursor: pointer;
    }

   &-top {
       padding: 0;
       width: 160px;
       height: 160px;
   }
   &-bottom {
       text-align: center;
       font-size: 20px;
   }
}

.list {
    &-item {
        @extend  .col-4;
        margin-bottom: 20px;
        padding: 0;
    }
}

// #Page
#topbarNew {
    span {
        padding: 0 4px;
        transform: translate(-4px);
    }
}

#topbarFriends {
    span {
        padding: 0 4px;
    }
}