
.white, .hover-white:hover {
    color: #000;
    background-color: #fff;
}

.text-theme { color:#607d8b !important}
.theme {
    color:#fff !important;
    background-color:#607d8b !important
}

.theme-14 {
    color:#000 !important;
    background-color:#dfe5e8 !important
}