.hd-container:before,
.hd-container:after {
    content: "";
    display: table;
    clear: both;   
}

.hd-container {
    padding: 0.01em 16px;
}

.hd-margin-vel,
.hd-auto {
    margin-left: auto;
    margin-right: auto;
}

.hd-margin-vel {
    max-width: 980px;
}

.hd-margin-hor {
    margin-top: 16px;
    margin-bottom: 16px;
}

.hd-margin-left {
    margin-left: 16px;
}

.hd-margin-right {
    margin-right: 16px;
}

.hd-margin-top {
    margin-top: 16px;
}

.hd-margin-bottom {
    margin-bottom: 16px;
}

/* Padding */
.hd-padding-small {
	padding: 4px 8px!important
}

.hd-padding {
	padding: 8px 16px!important
}

.hd-padding-large {
	padding: 12px 24px!important
}

.hd-padding-16 {
	padding-top: 16px!important;
	padding-bottom: 16px!important
}

.hd-padding-24 {
	padding-top: 24px!important;
	padding-bottom: 24px!important
}

.hd-padding-32 {
	padding-top: 32px!important;
	padding-bottom: 32px!important
}

.hd-padding-48 {
	padding-top: 48px!important;
	padding-bottom: 48px!important
}

.hd-padding-64 {
	padding-top: 64px!important;
	padding-bottom: 64px!important
}

.hd-row-padding {
    padding: 0 8px;
}

.hd-col,
.hd-half,
.hd-col-third,
.hd-col-twothird,
.had-col-quarter {
    float: left;
    width: 100%;
}

.hd-badge,
.hd-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

/* Themes */
.hd-theme-white {
    color: black;
    background-color: white;
}

.hd-theme-teal {
    color: white;
    background-color: teal;
}

.hd-theme-light-grey {
    color: black;
    background-color: #f1f1f1;
}

/* Text */
.hd-text-grey {
    color: grey;
}

.hd-text-teal {
    color: teal;
}

.hd-text-white {
    color: white;
}

.hd-text-black {
    color: black;
}

/* Card border */
.hd-card,
.hd-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.hd-card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

/* Font size */
.hd-font-tiny {
    font-size: 10px;
}

.hd-font-small {
    font-size: 12px;
}

.hd-font-medium {
    font-size: 15px;
}

.hd-font-large {
    font-size: 18px;
}

.hd-font-xlagre {
    font-size: 24px;
}

.hd-font-xxlagre {
    font-size: 36px;
}

.hd-font-xxxlagre {
    font-size: 48px;
}

.hd-font-jumbo {
    font-size: 64px;
}

/* Align */

.hd-align-left {
    text-align: left;
}

.hd-align-right {
    text-align: right;
}

.hd-align-center {
    text-align: center;
}

/* Border */
.hd-round-small {
    border-radius: 2px;   
}

.hd-round,
.hd-round-medium {
    border-radius: 4px;
}

.hd-round-large {
    border-radius: 8px;   
}

.hd-round-xlarge {
    border-radius: 16px;   
}

.hd-round-xxlarge {
    border-radius: 32px;   
}

/* Opacity */
.hd-opacity,
.hd-hover-opacity:hover {
    opacity: 0.6;
}
