.dashboard {
  &__jumbotron,
  &__topnav {
    z-index: 2002;
  }

  &__slidebar {
    z-index: 2001;
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    transition: 0.5s;
    overflow-x: hidden;
    background-color: #ddd; // dev
  }

  &__content {
    padding: 2rem;
  }
  &__footer {
    z-index: 2001;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px; //dev
    background: #ccc; // dev
  }
}

// XL screen
@media (min-width: 1200px) {
  .dashboard {
    &__slidebar {
      width: 200px;
    }
    &__main {
      margin-left: 200px;
    }
  }
}
